In [7]:
# carting
x=5
y= "jhone"
print(x)
print(y)
print(type(x))
print(type(y))
a=5
A=6
print(a)
print(A)

5
jhone
<class 'int'>
<class 'str'>
5
6

In [8]:
#Assign Multiple value
x,y,z = "orange","Banaana","cherry"
print(x)
print(y)
print(z)

orange
Banaana
cherry

In [9]:
# One valye to multiple variables
x=y=z="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [16]:
# + operater
x="python"
y="is"
z= "awsome"

print(x +y+ z)

pythonisawsome

In [17]:
# GLobal varible
x=30
def foo():
    global x
    x=40
print (x)
foo()
print(x)

30
40

In [12]:
x=memoryview(bytes(5))

In [19]:
x=1
y=2.8
z=1J
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [21]:
#type conversion
x=1
y=2.7
z=1j
a=float(x)
b=int(y)
c=complex(x)
print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

#Random Number
import random
print (random.randrange(1,20))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
11

## string

In [26]:
#pnrint length
a= "hello world"
print (len(a))

txt="the best things in life are free!!"
print("free" in txt)

# Slicing

b="hello world"
print(b[2:5])
print (b[:5])
print(b[2:])
print(b[-5:-3])

11
True
llo
hello
llo world
wo

### string Modify

In [34]:
a= "hello ,world"
print (a.upper())
print( a.lower())
b="hello, world!"
print(b.strip())
print ("replace world\t"+a.replace("h","j"))

HELLO ,WORLD
hello ,world
hello, world!
replace world	jello ,world

In [36]:
#concetation 
a="hello"
b="world"
c=a+" "+b
print(c)

hello world

### F-String

In [40]:
age=36
txt =f"My name is jhone,I am {age}"
print (txt)
hi= f"this price is {age:.2f} dollars"
print (hi)

My name is jhone,I am 36
this price is 36.00 dollars

In [3]:
#Boolean values
print (10>9)
print(10==9)
print(10<9)

a=200
b=33

if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

print (bool("hello"))
print(bool(15))

True
False
False
b is not greater than a
True
True

### python List

In [8]:
mylist =["apple","banana","cheery","kiwi","melon","mango"]
print(mylist)
print(len(mylist))
print(mylist[1])
print(mylist[2:5])

['apple', 'banana', 'cheery', 'kiwi', 'melon', 'mango']
6
banana
['cheery', 'kiwi', 'melon']

#### Change item value

In [17]:
thislist=["apple","banana","cherry","orange","kiwi","mango"]
tropical = ["mango", "pineapple", "papaya"]
#thislist[1:3]="blackcurrant"
thislist.append("orange")
thislist.extend(tropical)
thislist.pop(1)
#thislist[1:3]=["hello","watermelon"]
print(thislist)

['apple', 'cherry', 'orange', 'kiwi', 'mango', 'orange', 'mango', 'pineapple', 'papaya']

In [18]:
thislist=["apple","banana","cherry"]
i=0
while i <len(thislist):
    print(thislist[i])
    i=i+1

apple
banana
cherry

In [19]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [20]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [25]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1+list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

### for loop for patten

In [1]:
#1
#22
#333
#4444
#55555

row=6
for i in range(row):
    for j in range(i):
        print(i, end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [2]:
#1
#12
#123
#1234
#1234
row=6
for i in range(row):
    for j in range(1,i):
        print(j,end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4

In [14]:
#11111
#2222
#333
#44
#5
row =6
b=0
for i in range(row,0,-1):
    b+=1
    for j in range(1,i):
         print(b, end=' ')
    print('\r')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [17]:
#55555
#5555
#555
#55
#5
row= 5
number=row
for i in range( row,0,-1):
    for j in range(0,i):
        print(number,end=' ')
    print("\r")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [27]:
#012345
#01234
#0123
#012
#01
row=6
for i in range(row,0,-1):
    for j in range(i):
        print(j,end=' ')
    print("\r")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [4]:
#1
#33
#555
#7777
#99999
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [16]:
#55555
#4444
#333
#22
#1

row=5
for i in range(row,0,-1):
    for j in range(i):
        print(i,end='')
    print("\r")

55555
4444
333
22
1

In [9]:
#1
#21
#321
#4321
#54321

row=6
for i in range(row):
    for j in range(i,0,-1):
        print(j,end='')
    print("")

1
21
321
4321
54321

In [11]:
#54321
#4321
#321
#21
#1
row=5
for i in range(row,0,-1):
    for j in range(i,0,-1):
        print(j,end='')
    print("")

54321
4321
321
21
1

In [18]:
row=4
current=1
for i in range(1,row+1):
    start=current+i-1
    for j in range(start,start-1,-1):
        print(j,end='')
    print("")
    current=start+1

start = 1
stop = 2
current_num = stop
for row in range(2,6):
    for col in range(start, stop):
        current_num -= 1
        print(current_num, end=' ')
    print("")
    start = stop
    stop += row
    current_num = stop

1
3
6
10
1
3 2
6 5 4
10 9 8 7

In [27]:
#     1
#    12
#   123
#  1234
# 12345
row=6
for i in range(1,row):
    num=1
    for j in range(row,0,-1):
        if j>i:
            print(" ",end=' ')
        else:
            print(num,end= ' ')
            num+=1
        print("")

1




1
2



1
2
3


1
2
3
4

1
2
3
4
5

In [32]:
#1
#2 4
#3 6 9
#4 8 12 16
#5 10 15 20 25
#6 12 18 24 30 36 
#7 14 21 28 35 42 49 
#8 16 24 32 40 48 56 64
row=9
for i in range(1,row):
    for j in range(1,i+1):
        print(i*j,end='')
    print()

1
24
369
481216
510152025
61218243036
7142128354249
816243240485664

In [35]:
#*
#**
#***
#****
#*****

row=5
for i in range(row):
    for j in range(i+1):
        print("*",end='')
    print("\r")

*
**
***
****
*****

In [38]:
row=5
for j in range(1,row+1):
    print("*"*j)

*
**
***
****
*****

In [57]:
# number of rows
rows = 5
k = 8
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [24]:
row = 5
k = 2* row-2
for i in range(row,-1,-1):
    for j in range(k,0,-1):
        print(end=' ')
    k=k+1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

### Match

In [7]:
day=4
match day:
 case 1:
    print("Mondy")
 case 2:
    print("tuseday")
 case 3:
    print("wednesday")
 case 4:
    print("thursday")
 case 5:
    print("friday")
 case 6:
    print("saturday")
 case 7: 
    print("sunday")

thursday

In [8]:
day =4
match day:
 case 6:
     print("today is saturday")
 case 7:
     print("today is sunday")
 case _:
     print("Looking forward to the weekend")

Looking forward to the weekend

## Function

In [10]:
def my_function(fname):
    print(fname+"refsnes")
my_function("Email")
my_function("Tobias")
my_function("Linus")

Emailrefsnes
Tobiasrefsnes
Linusrefsnes

In [11]:
def my_function(*kids):
    print("the youngest child is"+kids[2])
my_function("Email","Tobias","Linus")

the youngest child isLinus

#### lamda

In [12]:
x= lambda a: a + 10
print(x(5))

15

In [13]:
x= lambda a, b: a*b
print(x(5,6))

30

In [14]:
x= lambda a,b :a*b
print(x(5,6))

30

In [15]:
x= lambda a,b,c : a+b+c
print(x(5,6,2))

13

In [17]:
def my_function(n):
    return lambda a: a*n
mydoubler=my_function(2)
mytripler=my_function(3)

print(mydoubler(11))
print(mytripler(11))

22
33

### Class and Object

In [21]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=Person("jhon",36)
print(p1.age)

36

In [25]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def myfunct(self):
        print("hello my name is"+ self.name)
p1=Person("jhon" , 34)
p1.myfunct()

hello my name isjhon

In [27]:
class Person:
    def __init__(self,fname,lname):
        self.firstname=fname
        self.lastname=lname
    def printname(self):
        print(self.firstname,self.lastname)
x= Person("jhon","Doe")
x.printname()

jhon Doe

In [31]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

##### Polymorphism

In [36]:
class Car:
    def __init__(self,brand,model):
       self.brand=brand
       self.model=model
    def move(self):
        print("Drive")
class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")
class Plane:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    def move(self):
        print("fly")

car1=Car("ford","Mustang")
boat1=Boat("Ibiza","Touring 20")
plan1=Plane("Boeing","747")

for x in (car1,boat1,plan1):
    x.move()

Drive
Sail!
fly

In [39]:
import datetime
x=datetime.datetime.now()
print (x)

2025-05-04 21:17:39.707429

In [40]:
x= abs(-7.25)
print(x)

7.25

In [41]:
x= pow(4,3)
print(x)

64

In [42]:
import math
x= math.sqrt(64)
print(x)

8.0

In [43]:
import math
x= math.ceil(1.4)
y=math.floor(1.4)
print(x)
print(y)

2
1

### Exception handling

In [44]:
try:
    print(x)
except NameError:
    print("variale x is not defined")
except:
    print("something else went wrong")

2

In [45]:
try:
    print("Hello")
except:
    print("somrthing went wrong")
else:
    print("Nothing went wrong")

Hello
Nothing went wrong

In [2]:
print ((3**3)/(3**2))

3.0

In [10]:
mydict={
    "brand":"car",
    "year":2078
}
print(mydict)
for x in mydict:
    print (x,mydict[x])

{'brand': 'car', 'year': 2078}
brand car
year 2078

In [11]:
import tkinter as tk
from tkinter import messagebox

def submit_form():
    username = entry_username.get()
    email = entry_email.get()
    gender = gender_var.get()
    hobbies = []
    if hobby_reading.get(): hobbies.append("Reading")
    if hobby_traveling.get(): hobbies.append("Traveling")
    if hobby_sports.get(): hobbies.append("Sports")
    country = country_var.get()

    if not username or not email:
        messagebox.showwarning("Input Error", "Please fill in all required fields.")
        return

    info = f"""
Username: {username}
Email: {email}
Gender: {gender}
Hobbies: {', '.join(hobbies)}
Country: {country}
"""
    messagebox.showinfo("Form Submitted", info)

# Main window
root = tk.Tk()
root.title("Complete Form")
root.geometry("400x400")

# Username
tk.Label(root, text="Username:").pack(anchor="w", padx=10, pady=5)
entry_username = tk.Entry(root, width=30)
entry_username.pack(padx=10)

# Email
tk.Label(root, text="Email:").pack(anchor="w", padx=10, pady=5)
entry_email = tk.Entry(root, width=30)
entry_email.pack(padx=10)

# Gender Radio Buttons
tk.Label(root, text="Gender:").pack(anchor="w", padx=10, pady=5)
gender_var = tk.StringVar(value="Male")
tk.Radiobutton(root, text="Male", variable=gender_var, value="Male").pack(anchor="w", padx=20)
tk.Radiobutton(root, text="Female", variable=gender_var, value="Female").pack(anchor="w", padx=20)
tk.Radiobutton(root, text="Other", variable=gender_var, value="Other").pack(anchor="w", padx=20)

# Hobbies Checkboxes
tk.Label(root, text="Hobbies:").pack(anchor="w", padx=10, pady=5)
hobby_reading = tk.BooleanVar()
hobby_traveling = tk.BooleanVar()
hobby_sports = tk.BooleanVar()
tk.Checkbutton(root, text="Reading", variable=hobby_reading).pack(anchor="w", padx=20)
tk.Checkbutton(root, text="Traveling", variable=hobby_traveling).pack(anchor="w", padx=20)
tk.Checkbutton(root, text="Sports", variable=hobby_sports).pack(anchor="w", padx=20)

# Country Dropdown
tk.Label(root, text="Country:").pack(anchor="w", padx=10, pady=5)
country_var = tk.StringVar(value="Select Country")
country_options = ["Nepal", "India", "USA", "UK", "Canada"]
tk.OptionMenu(root, country_var, *country_options).pack(padx=10)

# Submit Button
tk.Button(root, text="Submit", command=submit_form).pack(pady=20)

root.mainloop()

In [25]:
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

        *
       * *
      * * *
     * * * *
    * * * * *