In [7]:
# carting
x=5
y= "jhone"
print(x)
print(y)
print(type(x))
print(type(y))
a=5
A=6
print(a)
print(A)

5
jhone
<class 'int'>
<class 'str'>
5
6

In [8]:
#Assign Multiple value
x,y,z = "orange","Banaana","cherry"
print(x)
print(y)
print(z)

orange
Banaana
cherry

In [9]:
# One valye to multiple variables
x=y=z="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [16]:
# + operater
x="python"
y="is"
z= "awsome"

print(x +y+ z)

pythonisawsome

In [17]:
# GLobal varible
x=30
def foo():
    global x
    x=40
print (x)
foo()
print(x)

30
40

In [18]:
x=memoryview(bytes(5))

In [19]:
x=1
y=2.8
z=1J
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [21]:
#type conversion
x=1
y=2.7
z=1j
a=float(x)
b=int(y)
c=complex(x)
print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

#Random Number
import random
print (random.randrange(1,20))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
11

## string

In [26]:
#pnrint length
a= "hello world"
print (len(a))

txt="the best things in life are free!!"
print("free" in txt)

# Slicing

b="hello world"
print(b[2:5])
print (b[:5])
print(b[2:])
print(b[-5:-3])

11
True
llo
hello
llo world
wo

### string Modify

In [34]:
a= "hello ,world"
print (a.upper())
print( a.lower())
b="hello, world!"
print(b.strip())
print ("replace world\t"+a.replace("h","j"))

HELLO ,WORLD
hello ,world
hello, world!
replace world	jello ,world

In [36]:
#concetation 
a="hello"
b="world"
c=a+" "+b
print(c)

hello world

### F-String

In [40]:
age=36
txt =f"My name is jhone,I am {age}"
print (txt)
hi= f"this price is {age:.2f} dollars"
print (hi)

My name is jhone,I am 36
this price is 36.00 dollars

In [3]:
#Boolean values
print (10>9)
print(10==9)
print(10<9)

a=200
b=33

if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

print (bool("hello"))
print(bool(15))

True
False
False
b is not greater than a
True
True

### python List

In [8]:
mylist =["apple","banana","cheery","kiwi","melon","mango"]
print(mylist)
print(len(mylist))
print(mylist[1])
print(mylist[2:5])

['apple', 'banana', 'cheery', 'kiwi', 'melon', 'mango']
6
banana
['cheery', 'kiwi', 'melon']

#### Change item value

In [17]:
thislist=["apple","banana","cherry","orange","kiwi","mango"]
tropical = ["mango", "pineapple", "papaya"]
#thislist[1:3]="blackcurrant"
thislist.append("orange")
thislist.extend(tropical)
thislist.pop(1)
#thislist[1:3]=["hello","watermelon"]
print(thislist)

['apple', 'cherry', 'orange', 'kiwi', 'mango', 'orange', 'mango', 'pineapple', 'papaya']

In [18]:
thislist=["apple","banana","cherry"]
i=0
while i <len(thislist):
    print(thislist[i])
    i=i+1

apple
banana
cherry

In [19]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [20]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [25]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1+list2
print(list3)

['a', 'b', 'c', 1, 2, 3]